#middle2-main {
    overflow: hidden;

    height: 500px;

    background: white;
}

.main2-page {
    display: flex;
    justify-content: center;   
    gap: 130px; 
}

.middle2-left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    height: 500px;
}

.middle2-right-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;

    height: 500px;  
}

.middle-title-text {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
}

.column1 {
    display: flex;
    flex-direction: column;
}

.column2 {
    display: flex;
    flex-direction: column;
}

.middle-sub-title-text {
    color: #9A95A3;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.thumbnail {

    width: 160px; /* 박스의 크기를 2배로 증가 */
    height: 160px; /* 박스의 크기를 2배로 증가 */
    left: 0;
    
    background: #F7F6F9;
    border-radius: 16px;

    margin-bottom: 16px;
}

.glass-icon {
    width: 150px;
    height: 150px;
}

@keyframes moveDown1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-100%); }
    50.001% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

@keyframes moveDown2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-200%); }
}

@keyframes moveUp1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(100%); }
    50.001% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes moveUp2 {
    0% { transform: translateY(-200%); }
    100% { transform: translateY(0); }
}



.roll1 {
    animation: moveDown1 15s infinite linear;
}

.roll2 {
    animation: moveDown2 15s infinite linear;
    margin-bottom: 16px;
}

.roll3 {
    animation: moveUp1 15s infinite linear;
}

.roll4 {
    animation: moveUp2 15s infinite linear;
    margin-bottom: 16px;
}

