#middle2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:400px;
    position: relative;
    overflow: hidden;

    height: 500px;

    background: white;
}

.middle2-left-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.middle-title-text {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
}

.middle-sub-title-text {
    color: #9A95A3;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.thumbnails {
    width: 272px;
    height: 556px;
    left: 828px;
    top: -66px;
    position: absolute;
}

.thumbnail {
    width: 160px; /* 박스의 크기를 2배로 증가 */
    height: 160px; /* 박스의 크기를 2배로 증가 */
    left: 0;
    position: absolute;
    background: #F7F6F9;
    border-radius: 16px;
}

.small-thumbnail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;

    color: black;
    font-size: 21px;
    font-family: Noto Sans KR;
    font-weight: 900;
    word-wrap: break-word;

    animation: yourAnimation 5s infinite linear;
}

@keyframes yourAnimation {
    0%, 100% { transform: translateY(0); }
}

@keyframes moveDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.column1 .thumbnail, .thumbnail {
    animation: moveDown 5s infinite linear;
}

.column2 .thumbnail {
    animation: moveUp 5s infinite linear;
}
